<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135417827785-ols5pojilsd4got1e163t2jc2evepv5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135417827785-ols5pojilsd4got1e163t2jc2evepv5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCbYX9JgWWTVnseE7X3kwyLjgPkjhkAc3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>135417827785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeancuervo.kabodApp</string>
	<key>PROJECT_ID</key>
	<string>kabod-crossfit</string>
	<key>STORAGE_BUCKET</key>
	<string>kabod-crossfit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135417827785:ios:28575b1cdfbe25f6535818</string>
</dict>
</plist>